---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .filter((p) => (!p.data.draft ?? false) || import.meta.env.MODE === "development")
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<MainLayout title="Rushil's Blog">
  <div class="padded-container">
    <h1 class="page-title">My Thoughts</h1>
	<br />
    {
      posts.map((post) => (
        <article key={post.slug}>
		<a href={`/blog/${post.slug}/`} class="title-link">
            <p style={{ marginTop: '0', marginBottom: '0' }} class="text-xlg font-semibold">{post.data.title}</p>
          </a>
          {post.data.description}
		  <br />
          <FormattedDate class="text-sm text-slate-600" date={post.data.pubDate} />
          {post.data.draft && <span>Draft</span>}		  
        </article>
		<br />
      ))
    }
  </div>
</MainLayout>
