---
import { Image, getImage } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { GetImageResult } from "astro";

import FormattedDate from "../components/FormattedDate.astro";
import MainLayout from "../layouts/MainLayout.astro";

type Props = CollectionEntry<"blog">["data"] & {
  headings?: string[];
  heroImageCaption?: string;
  description?: string;
  pubDate?: string;
};

const { title, description, pubDate, heroImage, heroImageCaption, headings} = Astro.props;
---
<MainLayout title={title} docTitle={title} docDescription={description} showNav={true} >
  <article
    class="padded-container article prose prose-indigo mx-auto prose-pre:rounded-sm prose-pre:bg-slate-200 prose-pre:p-1"
  >
    <h1 class="page-title mb-2">{title}</h1>
    {description && <h4>{description}</h4>}

    {pubDate && <FormattedDate date={pubDate}/>}
    {
      heroImage && (
        <figure class="my-12">
          <Image
            class="no-padding max-h-[400px] rounded-lg object-cover shadow-sm md:rounded-lg lg:max-h-[300px]"
            src={heroImage}
            alt={description}
            width={1200}
            height={1200}
            format="webp"
          />
          {heroImageCaption && (
            <figcaption class="text-center text-sm text-slate-500">
              <Fragment set:html={heroImageCaption} />
            </figcaption>
          )}
        </figure>
      )
    }
    {!heroImage && <hr />}
    <div class="article-content">
      <slot />
    </div>
  </article>
</MainLayout>